{% extends 'base.html.twig' %}
{% block meta_title %}Admin Index{% endblock %}
{% block content %}
<div class="container" id="main">
    <h2>Users</h2>
    <ul>
        <li><a href="{{ path('user_list') }}">List</a></li>
        <li><a href="{{ path('user_add') }}">Add</a></li>
    </ul>
</div>
{% endblock %}
