{% extends 'base.html.twig' %}
{% block meta_title %}{{ ('app.'  ~ type ~ '.meta_title.list')|trans }}{% endblock %}
{% block content %}
    <div class="container" id="main">
        <h2>{{ ('app.'  ~ type ~ '.list')|trans }}</h2>
        <a class="pull-right" href="{{ path(type ~ '_add') }}">Add</a>
        {% if datas|length > 0 %}
            {% include ':parts:table_' ~ type ~ '.html.twig' with {'titles': titles, 'datas': datas} %}
        {% else %}
            {{ 'app.no_data'|trans }}
        {% endif %}
    </div>
{% endblock %}
