<div class="modal fade" id="modalAgenda" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'app.modal.title'|trans }} <span id="date"></span></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
