{% extends ':parts:base_table.html.twig' %}

{% block content %}
    {% for product in datas %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            {% if back %}
                {% include ':parts:actions.html.twig' with {'id': product.id, 'remove': true } %}
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}
