{% extends 'base.html.twig' %}
{% block meta_title %}Wod{% endblock %}
{% block content %}
<div class="container" id="main">
    {% if datas|length > 0 %}
       <div class="col-sm-6">
           <a href="" class="btn btn-subscription">Ajouter une séance</a>
       </div>
       <div class="col-sm-6">
           <a href="" class="btn btn-subscription btn-strength">Ajouter un travail de force</a>
       </div>
    {% else %}
        {{ 'app.no_data'|trans }}
    {% endif %}
</div>
{% endblock %}
