{% extends 'base.html.twig' %}
{% block meta_title %}Admin Add user{% endblock %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="container" id="main">
        {{ form_start(form, {'attr': {'id': 'add_user'}}) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input class="save btn" type="submit" value="Save" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
